@font-face {
    font-family: "welcome";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "welcome";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/welcome/welcome-Bold.ttf") format("truetype");
    font-display: swap;
}
.welcome {
    font-family: "welcome";
}
.welcome400 {
    font-family: "welcome";
    font-weight: 400;
}
.welcome700 {
    font-family: "welcome";
    font-weight: 700;
}